@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos generales ---*/
body{background:#ffdca4; font-family:Arial, Helvetica, Sans-serif;}
a{text-decoration:none; color:#000;}
a:hover{text-decoration:underline;}
#wrap{width:960px; margin:auto; clear:both;}

/*--- Header ---*/
header{width:100%; float:left; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,dfa802+51,dfa802+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #dfa802 51%, #dfa802 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#dfa802 51%,#dfa802 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#dfa802 51%,#dfa802 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfa802',GradientType=0 ); /* IE6-9 */
; box-shadow:0px 3px 5px; color:#000; -moz-box-shadow:0px 3px 5px; color:#000; -webkit-box-shadow:0px 3px 5px; color:#000;}
#subheader{width:960px; margin:auto;}
#logo{float:left; width:110px;}
#logotipo{float:left; width:190px; padding:15px 0px;}
#logotipo a{font-family:LuckiestGuy; font-size:65px; color:#74583b;}
#logotipo a:hover{text-decoration:none;}

/*---Menu---*/
header #subheader nav{float:left; width:660px; padding:30px 0px; text-align:right;}
header #subheader nav ul li{display:inline; font-family:LuckiestGuy; font-weight:bold;}
header #subheader nav ul li a{color:#74583b; font-size:25px; padding:10px;}
header #subheader nav ul li a:hover{color:#fff; background:#fd9d4f; text-decoration:none; border-radius:50px -moz-border-radius:50px; -webkit-border-radius:50px;}
header #subheader nav a{-webkit-transition:all 500ms ease; -o-transition:all 500ms ease; transition:all 500ms ease;}
.header2{position:fixed; height:100px;}
.header2 .logo{line-height:100px; font-size:20px;}
.header2 .logotipo{line-height:100px; font-size:20px;}
.header2 nav{line-height:100px;}
@media screen and(max-width:960px){header .logo, header .logotipo,
									header nav{width:100%; text-align:center; line-height:100px;}}

/*---Main---*/
#main{width:100%; margin:20px 0px 0px 0px; float:left;}

/*---Slideshow---*/
#slideshow{width:920px; height:360px; float:left; background:#000; border:solid 20px #fd9d4f; margin-bottom:30px;}
#slideshow .pagination{margin:26px auto; width:100px;}
#slideshow .pagination li{float:left; margin:0px 5px; list-style:none;}
#slideshow img{width:920px; height:360px;}
#slideshow .pagination li a{display:block; width:12px; height:0px; padding-top:12px; background:#fd9d4f; float:left; overflow:hidden; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
#slideshow .pagination li.current a{background:#1798af;}

/*---Bienvenidos---*/
#bienvenidos{width:920px; float:left; padding:20px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#daae15+0,e5ce37+100 */
background: #daae15; /* Old browsers */
background: -moz-linear-gradient(top,  #daae15 0%, #e5ce37 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #daae15 0%,#e5ce37 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #daae15 0%,#e5ce37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daae15', endColorstr='#e5ce37',GradientType=0 ); /* IE6-9 */
 margin:20px 0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0px 2px #000; -moz-box-shadow:0px 2px #000; -webkit-box-shadow:0px 2px #000;}
 #bienvenidos article h2{font-family:PatrickHand; color:#fff; font-size:40px; margin-bottom:10px;}
 #bienvenidos article{color:#fff; line-height:27px;}

 /*---Contenido---*/
 #contenido{width:700px; float:left;}
 #contenido article{float:left; margin-bottom:20px;}
 #contenido article .titulo{font-size:30px; font-family:PatrickHand; color:#74583b; font-weight:bold;}
 #contenido article .fecha{font-size:20px; color:#f57200; margin-bottom:5px;}
 #contenido article .thumb{width:220px; height:150px; float:left; margin:0px 10px 10px 0px;}
 #contenido article >p{color:#565553; font-size:19px; text-align:justify; line-height:27px;}

 /*---Sidebar---*/
 aside{width:220px; float:left; margin-left:20px; background:#fd9d4f; padding:10px 10px 0px 10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0px 2px 2px #000; -moz-box-shadow:0px 2px 2px #000; -webkit-box-shadow:0px 2px 2px #000;}
 aside .widget{margin-bottom:10px; float:left;}
 aside .widget >h3{background:#fff; color:#fd9d4f; width:220px; padding:10px 0px; text-align:center; font-weight:bold;
 	margin-bottom:10px;}
 aside .widget a{color:#fff;}
 aside .widget ul li{margin-bottom:5px;}
 aside .widget img{width:220px;}

 /*Footer*/
 footer{width:100%; float:left; clear:both; box-shadow:0px 2px 2px #000; -moz-box-shadow:0px 2px 2px #000; -webkit-box-shadow:0px 2px 2px #000; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffac4a+0,aa6411+100 */
background: #ffac4a; /* Old browsers */
background: -moz-linear-gradient(top,  #ffac4a 0%, #aa6411 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffac4a 0%,#aa6411 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffac4a 0%,#aa6411 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac4a', endColorstr='#aa6411',GradientType=0 ); /* IE6-9 */
}
footer section{width:440px; float:left; padding:20px;}
footer #acerca-de{font-family:Arial, Helvetica, Sans-serif; font-size:12px; color:#565553; text-align:justify; line-height:20px;}
footer #acerca-de h3{font-family:PatrickHand; font-size:20px; color:#fff; margin-bottom:5px;}
footer #redes-s > div{width:120px; height:60px; float:left; opacity:0.7;}
footer #redes-s >div a{width:120px; height:60px; display:inline-block;}
footer #redes-s .email{background:url(../imagenes/correo.png);}
footer #redes-s .facebook{background:url(../imagenes/facebook.png);}
footer #redes-s .twitter{background:url(../imagenes/twitter.png);}
footer #redes-s >div:hover{opacity:1;}

/*Formulario*/
.container{max-width:700px; float:left; background-color:#efefef; margin:0px 10px 10px 0px; padding-bottom:1rem;}
.form_reg{padding:0 2rem; display:flex; flex-direction:column; justify-content:center;}
.btn_form{display:flex; justify-content:space-around; margin-top:1rem;}
.input, .btn_submit, .btn_reset{background-color:#efefef; padding:2.5rem; margin:2.5rem 0; border:none; border-bottom:solid #c8c8c8 .2rem; transition:all .5%;}
.input:focus{border-bottom:solid #f39b53 .2rem;}
.btn_submit, .btn_reset{width:40%; border-bottom:none; background-color:#31b1e5; color:white;}
.btn_reset{background-color:#eda135;}
.btn_submit:hover{background-color:#4c9ed9;}
.btn_reset:hover{background-color:#fa9535;}

/*Copyright*/
#copyright{float:left; width:960px; margin:10px 0px;}
#copyright p{text-align:center; font-size:12px; color:#74583b; font-family:Arial, Helvetica, Sans-serif;}